body{
    margin:auto;
    max-width: 760px;
}
header{
    background-color:lightblue;
}
th{
    border: 2px solid black;
    width: 100px;
}
td{
    width: 100px;
    border: 1px solid black;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
}
h3{
    text-align:justify right;
    width: 200px;
}
.red{
    background-color:red;
}
#deleteBtn{
    cursor: pointer;
}
#submitBtn{
    float:right;
}
h1{
    margin:auto;
    text-align:center;
    color:darkorange;
}